:root {
  // font vars
  --font-family: ubuntu, seguiemj, harmony, iconfont, "Open Sans", -apple-system,
    "BlinkMacSystemFont", "Microsoft YaHei", "Clear Sans";
  // brand colors

  --c-brand: #fa6594;
  --c-brand-light: #ff3cac;
  // background colors
  --c-bg: #fff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #ccc;
  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: var(--c-text-light);
  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #c00;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #900;
  --c-danger-text: #600;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eee;
  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);
  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  --font-family-code: Hack, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    seguiemj, harmony, "Open Sans", -apple-system, "BlinkMacSystemFont",
    "Microsoft YaHei", "Clear Sans", monospace;
  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
}

// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);
  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}

html.dark {
  // brand colors
  --c-brand: #fa6594;
  --c-brand-light: #ff3cac;
  // background colors
  --c-bg: #121212;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;
  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;
  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;
  // code blocks vars
  --code-hl-bg-color: #363b46;
}

// plugin-docsearch
html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

html {
  body {
    &::-webkit-scrollbar,
    div[class*="language-"].line-numbers-mode pre::-webkit-scrollbar {
      display: block;

      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb,
    div[class*="language-"].line-numbers-mode pre::-webkit-scrollbar-thumb {
      border: 3px solid transparent;
      border-radius: 5px;
      background-color: #c1c1c1;
      background-clip: padding-box;
    }

    .home .hero {
      h1 {
        font-size: 40px;
        font-weight: 300;

        word-break: keep-all;
      }

      .description {
        font-size: 16px;
      }

      .action-button {
        position: relative;
        z-index: 1;

        border-radius: 2rem;

        &.primary {
          color: #fff;
          border: none;
          background-color: #ff3cac;
          background-image: linear-gradient(
            225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%
          );

          &:hover {
            &::after {
              position: absolute;
              z-index: -1;
              top: 8px;
              right: 8px;
              bottom: 8px;
              left: 8px;

              content: "";
              animation: blur 0.5s forwards;

              border-radius: inherit;
              background-color: #ff3cac;
              background-image: linear-gradient(
                225deg,
                #ff3cac 0%,
                #784ba0 50%,
                #2b86c5 100%
              );
            }
          }
        }

        &.secondary {
          color: var(--c-text);
          border: 2px solid var(--c-brand);
          background-color: transparent;

          &:hover {
            color: var(--c-brand);
            background-color: var(--c-bg);
          }
        }
      }
    }
  }

  .navbar {
    border-bottom: none;
    background-color: transparent;

    &::before {
      position: absolute;
      z-index: -2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: "";

      backdrop-filter: blur(8px);
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: "";

      opacity: 0.8;
      background-color: var(--c-bg);
    }

    .site-name {
      font-family: pacifico, var(--font-family);
      font-weight: 100;

      display: inline-block;
      overflow: hidden;

      width: 83px;

      white-space: nowrap;

      color: transparent;
      background-color: #ff3cac;
      background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

nav.table-of-contents > ul > li {
  &:nth-child(1),
  &:nth-child(2) {
    display: none;
  }
}

a.sidebar-item {
  overflow: hidden;

  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
}

.sidebar-heading {
  padding: 0.8rem 1.5rem 0.35rem 1.25rem;
}

code {
  background-color: var(--c-bg-lighter);
}

.theme-default-content:not(.custom) img {
  border-radius: 6px;
}

.theme-default-content:not(.custom) .normal-img-p img {
  border-radius: 0;
}

.theme-default-content:not(.custom) > h1:first-child,
.theme-default-content:not(.custom) > h2:first-child,
.theme-default-content:not(.custom) > h3:first-child,
.theme-default-content:not(.custom) > h4:first-child,
.theme-default-content:not(.custom) > h5:first-child,
.theme-default-content:not(.custom) > h6:first-child {
  margin-top: 1.382rem;
}

.code-group__nav-tab {
  font-family: var(--font-family);
}

.custom-container.tip,
.custom-container.warning,
.custom-container.danger {
  border-radius: 0 6px 6px 0;
}

.page-nav {
  .prev,
  .next {
    font-size: 0;

    display: block;

    word-break: keep-all;

    a {
      font-size: 20px;
      font-weight: 600;

      color: var(--c-text-lightest);

      &::before,
      &::after {
        font-family: "iconfont";
      }
    }
  }

  .prev a {
    &::before {
      content: "\e7a0";

      color: var(--c-text-lightest);
    }
  }

  .next a {
    &::after {
      content: "\e7a1";

      color: var(--c-text-light);
    }
  }
}

.grabient-text {
  color: transparent;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 419px) {
  .theme-default-content div[class*="language-"],
  .code-group__nav {
    margin-right: 0rem;
    margin-left: 0rem;

    border-radius: 6px;
  }
}

@media (max-width: 719px) {
  .navbar .site-name {
    display: none !important;
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  to {
    -webkit-filter: blur(16px);
    filter: blur(16px);
  }
}
